@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');


/* #7EC2C2 #9DDCDC #FFF4E1 #E67A7A */

body {
  background-color: #a0d8ef;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7vw;
  color: #93c7ff;
  font-family: "Mystery Quest", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

@media screen and (max-width: 768px)  {

  .title {
    font-size: 10vh;
  }
}