@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  img {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
  }
  /* ===========================================
  * MAIN
  * ======================================== */
  .content01 {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
  }
  
  #bg-section01 {
	width: 100vw;
	height: 100vh;
	background-image: url(img/lilies-199-dark.jpeg);
	background-size: cover;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  p {
	color: #fff;
	font-size: 200%;
	font-weight: bold;
  }
  
  .content02 {
	width: 100vw;
	height: 50vw;
	/* margin-bottom: 100vh; */
	overflow: hidden;
	position: relative;
  }
  

  #bg-section02 {
	width: 100%;
	height: 180%;
	background-image: url(img/roses-105-dark.jpeg);
	background-size: cover;
	background-position: center top;
	position: absolute;
	top: 30%;
  }
  
  
  /* ===========================================
  * テキストととのえ
  * ======================================== */
  .txt {
	color: #1a1a1a;
	font-size: 150%;
	line-height: 3.0;
	text-align: center;
  }

  .content01 p {
	text-shadow: 0px 0px 10px #1a1a1a;
	text-align: center;
  }


  /* ===========================================
  * 蝶
  * ======================================== */
.content03 {
	padding-bottom: 100vh;
	width: 100vw;
	/* position: relative; */
	background-color:hsla(0,0%,100%,1);
	background-image:
	radial-gradient(at 74% 80%, hsla(176,68%,73%,1) 0px, transparent 50%),
	radial-gradient(at 89% 67%, hsla(285,76%,70%,1) 0px, transparent 50%),
	radial-gradient(at 48% 63%, hsla(34,82%,70%,1) 0px, transparent 50%),
	radial-gradient(at 78% 46%, hsla(19,63%,75%,1) 0px, transparent 50%),
	radial-gradient(at 30% 74%, hsla(93,97%,75%,1) 0px, transparent 50%),
	radial-gradient(at 15% 48%, hsla(304,97%,64%,1) 0px, transparent 50%),
	radial-gradient(at 40% 46%, hsla(250,75%,70%,1) 0px, transparent 50%);
}
.kurukuru {
	/* background: linear-gradient(to right, #362ae0 0%,#3b79cc 50%,#42d3ed 100%); */
	/* width: 50px; */
	/* height: 50px; */
	opacity: 1;
	/* padding-bottom: 40px; */
  }
  .kurukuru5s {
	animation: kurukuru 5s ease-out infinite;
  }
  .kurukuru4s {
	animation: kurukuru 4s ease-out infinite;
  }
  .kurukuru6s {
	animation: kurukuru 6s ease-out infinite;
  }
  @keyframes kurukuru {
	0%{
	  transform: rotateY(0);
	  /* opacity: 1; */
	}
	35%{
	  transform: rotateY(360deg);
	  /* opacity: 1; */
	}
	55%{
	  transform: rotateY(0);
	  /* opacity: 1; */
	}
	100%{
	  transform: rotateY(360deg);
	  /* opacity: 1; */
	}
  }
  .fuwafuwa2 {
	animation: fuwafuwa 2s ease-in-out infinite alternate;
	transition: 1.5s ease-in-out;
  }
  .fuwafuwa3 {
	animation: fuwafuwa 3s ease-in-out infinite alternate;
	transition: 1.5s ease-in-out;
  }
   
  @keyframes fuwafuwa {
	0% {
	  transform:translate(0, 0) rotate(-15deg);
	}
	40% {
	  transform:translate(0, -7px) rotate(0deg);
	}
	100% {
	  transform:translate(0, 0) rotate(7deg);
	}
  }

@media screen and (orientation: landscape) {

  .container01 {
	/* display: flex; */
	/* justify-content: center; */
	/* margin-top: 100px; */
	width: 100%;
  }
  .container02 {
	display: flex;
	justify-content: center;
	margin-top: 100vh;
	width: 100%;
  }
  .container03 {
	display: flex;
	justify-content: center;
	margin-top: 10vh;
	width: 100%;
  }

  .luxy-img01 {
	margin-inline: auto;
	width: 20vw;
	position: relative;
	top: -140vh;  
}
  .luxy-img02 {
	left: 40px;
	position: relative;
	width: 15vw;
	top: -36vh;
  }
  .luxy-img03 {
	position: relative;
	right: 40px;
	width: 15vw;
	top: 30vh;
  }
  .luxy-img04 {
	position: relative;
	left: 105vw;
    top: 85vh;
	width: 10vw;
  }
  .luxy-img05 {
	position: relative;
	width: 10vw;
	top: 0px;
  }
  .luxy-img06 {
	position: relative;
    right: 110vw;
    top: 43vh;
	 width: 10vw;
  }

}
@media screen and (max-width: 768px) {
	.content02 {
		height: 50vh;
	  }
}

@media screen and (orientation: portrait){
	.container01 {
		/* display: flex; */
		/* justify-content: center; */
		/* margin-top: 100px; */
		width: 100%;
	  }
	  .container02 {
		display: flex;
		justify-content: center;
		margin-top: 60vh;
		width: 100%;
	  }
	  .container03 {
		display: flex;
		justify-content: center;
		margin-top: 50vh;
		width: 100%;
	  }
	
	  .luxy-img01 {
		margin-inline: auto;
		width: 30vw;
		position: relative;
		top: -88vh;  
	}
	  .luxy-img02 {
		left: 40px;
		position: relative;
		width: 20vw;
		top: -20vh;
	  }
	  .luxy-img03 {
		position: relative;
		right: 40px;
		width: 20vw;
		top: 20vh;
	  }
	  .luxy-img04 {
		position: relative;
        left: 200vw;
        top: 60vh;
		width: 15vw;
	  }
	  .luxy-img05 {
		position: relative;
		width: 15vw;
		top: 0px;
	  }
	  .luxy-img06 {
		position: relative;
		right: 200vw;
		top: 32vh;
		width: 15vw;
	  }
}
@media screen and (max-width: 480px) {
	.container01 {
		/* display: flex; */
		/* justify-content: center; */
		/* margin-top: 100px; */
		width: 100%;
	  }
	  .container02 {
		display: flex;
		justify-content: center;
		margin-top: 60vh;
		width: 100%;
	  }
	  .container03 {
		display: flex;
		justify-content: center;
		margin-top: 30vh;
		width: 100%;
	  }
	
	  .luxy-img01 {
		margin-inline: auto;
		width: 30vw;
		position: relative;
		top: -135vh;  
	}
	  .luxy-img02 {
		left: 40px;
		position: relative;
		width: 20vw;
		top: -20vh;
	  }
	  .luxy-img03 {
		position: relative;
		right: 40px;
		width: 20vw;
		top: 20vh;
	  }
	  .luxy-img04 {
		position: relative;
        left: 315vw;
        top: 60vh;
		width: 15vw;
	  }
	  .luxy-img05 {
		position: relative;
		width: 15vw;
		top: 0px;
	  }
	  .luxy-img06 {
		position: relative;
		right: 315vw;
		top: 32vh;
		width: 15vw;
	  }
}