@charset "utf-8";
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #d3e84c;
	transition: 1s;
  }
  
  svg {
	flex: 1 1 auto;
	max-width: 90vw;
  }
/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

#Push{
	padding: 3rem;
}

  .btn {
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.5;
	position: relative;
	display: inline-block;
	padding: 1rem 4rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: #212529;
	border-radius: 0.5rem;
  }

  button .btn-flat {
	overflow: hidden;
  
	padding: 1.5rem 6rem;
  
	color: #fff;
	border-radius: 0;
	background: #000;
  }
  
  button .btn-flat span {
	position: relative;
	z-index: 1;
  }
  
  button .btn-flat:before {
	position: absolute;
	top: 0;
	left: calc(-150% + 50px);
  
	width: 150%;
	height: 500%;
  
	content: '';
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-transform: rotate(45deg) translateX(0) translateY(0);
	transform: rotate(45deg) translateX(0) translateY(0);
	background: #ff00b3;
  }
  
  button .btn-flat:after {
	position: absolute;
	top: -400%;
	right: calc(-150% + 50px);
  
	width: 150%;
	height: 500%;
  
	content: '';
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-transform: rotate(45deg) translateX(0) translateY(0);
	transform: rotate(45deg) translateX(0) translateY(0);
  
	background: #ff00b3;
  }
  
  button .btn-flat.active:before {
	-webkit-transform: rotate(45deg) translateX(0) translateY(-50%);
	transform: rotate(45deg) translateX(0) translateY(-50%);
  }
  
  button .btn-flat.active:after {
	-webkit-transform: rotate(45deg) translateX(0) translateY(50%);
	transform: rotate(45deg) translateX(0) translateY(50%);
  }

  /* Toggle */
  #BLOCKS{
	display: block;
  }
  #BLOCKS.active{
	display: none;
  }
  #COLORS{
	display: none;
  }
  #COLORS.active{	
	display: block;
  }
  body.active{
	background-color: #250c88;
  }
  
  

