@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Figtree", sans-serif;
}

body {
	display: grid;
	place-content: center;
	min-height: 100dvh;
	background: #000;
}

.container {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 1em;
	width: 800px;
	height: 500px;
	/* margin: auto; */
	transition: all 400ms;
}

.box {
	position: relative;
	background: var(--img) center center;
	background-size: cover;
	transition: all 400ms;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
}

.box:nth-child(odd) {
	transform: translateY(-16px);
}

.box:nth-child(even) {
	transform: translateY(16px);
}

.box::after {
	content: attr(data-text);
	position: absolute;
	bottom: 20px;
	background: #000;
	color: #fff;
	padding: 10px 10px 10px 14px;
	letter-spacing: 4px;
	text-transform: uppercase;
	transform: translateY(60px);
	opacity: 0;
	transition: all 400ms;
}

@media (hover: hover) {
	/* hover指定できるPCを想定したスタイル */
	.container:hover .box {
		filter: grayscale(100%) opacity(24%);
	}
	.container .box:hover {
		filter: grayscale(0%) opacity(100%);
	}
	
	.container:has(.box-1:hover) {
		grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
	}
	
	.container:has(.box-2:hover) {
		grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
	}
	
	.container:has(.box-3:hover) {
		grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
	}
	
	.container:has(.box-4:hover) {
		grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
	}
	
	.container:has(.box-5:hover) {
		grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
	}

	.box:hover::after {
		transform: translateY(0);
		opacity: 1;
		transition-delay: 400ms;
	}
}
@media (hover: none) {
	/* hoverが使えないタッチ端末を想定した装飾 */
	.container:active .box {
		filter: grayscale(100%) opacity(24%);
	}
	.container .box:active {
		filter: grayscale(0%) opacity(100%);
	}
	
	.container:has(.box-1:active) {
		grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
	}
	
	.container:has(.box-2:active) {
		grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
	}
	
	.container:has(.box-3:active) {
		grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
	}
	
	.container:has(.box-4:active) {
		grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
	}
	
	.container:has(.box-5:active) {
		grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
	}

	.box:active::after {
		transform: translateY(0);
		opacity: 1;
		/* transition-delay: 400ms; */
	}
}
#ontouchstart .box:hover::after {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 400ms;
}

@media screen and (max-width: 809px) {
	/* 809px以下に適用されるCSS（タブレット用） */
	.container {
		width: 500px;
		height: 400px;
	}
	.box::after {
		bottom: 60px;
	}
}
@media screen and (max-width:499px) {
	/* 809px以下に適用されるCSS（タブレット用） */
	.container {
		width: 360px;
		height: 500px;
		gap: .5em;
	}
	.container:has(.box-1:hover) {
		grid-template-columns: 6fr 1fr 1fr 1fr 1fr;
	}
	
	.container:has(.box-2:hover) {
		grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
	}
	
	.container:has(.box-3:hover) {
		grid-template-columns: 1fr 1fr 6fr 1fr 1fr;
	}
	
	.container:has(.box-4:hover) {
		grid-template-columns: 1fr 1fr 1fr 6fr 1fr;
	}
	
	.container:has(.box-5:hover) {
		grid-template-columns: 1fr 1fr 1fr 1fr 6fr;
	}
}